body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.content{
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

header{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-image: url(img/Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f2f0;
    padding: 60px 15px 15px 15px;
}

.logo{
    text-transform: uppercase;
}

.logo span{
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.menu{
    width: 50%;
}

.a_menu{
    position: relative;
    color: #333;
    padding: 0 25px;
    text-transform: uppercase;
}


.a_menu:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #000; /*задаём цвет линии*/
	content: "";
	transition: width 1.3s ease-out; /*задаём время анимации*/
}


.a_menu:hover:after,
.a_menu:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.a_button:hover{
    text-decoration: none;
}
.banner {
    width: 26%;
    height: 60px;
    border: 2px solid #1769ff;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 15px 0 55px;
    transition: background .8s;
}

.banner:hover{
    background-color: #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
}

.banner a{
    text-decoration: none;
    color: #1769ff;
    padding: 0 15px 0 15px;
    transition: color 1.5s;
}

.banner:hover a{
    color: #fff;
}

.text_banner{
    margin-top: 200px;
    margin-left: 60%;
    padding-bottom: 240px;
}

.hello{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 25px;
}

.job{
    font-size: 48px;
    width: 120%;
    margin-bottom: 45px;
}

.job_discription{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 126%;
    color: #777777;
    margin-bottom: 45px;
}

.main_button{
    width: 45%;  
}

.main_button a{
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #1769ff;
    background-color: #1769ff;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
    border-radius: 40px;
    padding: 17px 50px;
    transition: padding 2.9s;
    transition: background 2.9s;
    transition: color 2.9s;
    transition: border 2.9s;
    
}

.main_button:hover a{
    color: #1769ff;
    border: none;
    background-color: #f3f2f0;
    box-shadow: 2px solid #1769ff;
}

.second_banner{
    display: none;
    width: 26%;
    height: 60px;
    border: 2px solid #1769ff;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 15px 30px 0px;
    transition: background .8s;
}

.second_banner:hover{
    background-color: #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
}

.third_banner{
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.third_banner a{
    text-decoration: none;
    color: #1769ff;
    padding: 0 15px 0 15px;
    transition: color 1.5s;
}

.third_banner:hover a{
    color: #fff;
}

.third_banner{
    width: 26%;
    height: 60px;
    border: 2px solid #1769ff;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 15px 30px 0px;
    transition: background .8s;
}

.third_banner:hover{
    background-color: #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
}



.second_banner a{
    text-decoration: none;
    color: #1769ff;
    padding: 0 15px 0 15px;
    transition: color 1.5s;
}

.second_banner:hover a{
    color: #fff;
}


.services{
    font-family: 'Poppins', sans-serif;
    margin-top: 170px;
}

.heading{
    position: relative;
}


.bold{
    font-weight: 900;
    color: #bcb9b9;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}


.main{
    text-align: center;
    position: absolute;
    top: 0;
    left: 490px;
    z-index: 1;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    margin-top: 70px;
    color: #1769ff;
    width: 30%;
    padding: 55px 0;
    transition: background 1.9s;
    transition: border 1.9s;
}

.card:hover{
    background: #1769ff;
    border: 2px solid #1769ff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(25%, 41%, 88%);
    color: #fff;
}

.card:hover .icon_service{
    color: #fff;
}

.card:hover .service{
    color: #fff;
}

.card:hover .hr_service{
    background-color: #fff;
}

.card:hover .service_discription{
    color: #fff;
}

.icon_service{
    font-size: 45px;
    margin: 0 43%;
    transition: color .9s;
}

.service{
    color: #000;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    transition: color .9s;
}

.hr_service{
    height: 3px;
    background-color: #1769ff;
    width: 15%;
    margin-bottom: 40px;
    transition: background .9s;
}

.service_discription{
    color: #000;
    font-family: 'Raleway', sans-serif;
    width: 75%;
    text-align: center;
    margin: 0 13%;
    transition: color .9s;
}






.portfolio{
    background-color: #f4f4f4;
}

.all_about{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}


.about__item {
    padding-bottom: 80px;
    padding-left: 15px;
    width: 430px;
    height: 250px;
}

.about_inner{
    position: relative;

    background-color: #95e1d3;   
}


.about__item:hover .about__img img {
    opacity: .1;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: #1769ff;

    transition: transform .2s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 30%;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.about_title_iner{
    color: #fff;
}

.hr_about{
    width: 15%;
    height: 3px;
}

.title_portfolio{
    padding-top: 140px;
    padding-bottom: 65px;
}

.main_portfolio{
    top: 140px;
    left: 455px
}

.all_img{
    margin: 0 auto;
    width: 60%;
}

.hr_about{
    background-color: #fff;   
}

.img_book{
    width: 430px;
    height: 410px;
}







.awesome{
   font-family: 'Poppins', sans-serif;
    margin-top: 130px;
    padding-bottom: 120px;
}

.p_awesome{
    font-weight: 300;
    font-size: 32px;
    margin: 0;
}

.main_awesome{
    display: flex;
    justify-content: space-between;
}
.discription_awesome{
    color: #777777
}









.quote_slaider{
    background-color: #f4f4f4;
}

.img_face{
    margin: 0 45%;
}

.name_client{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin: 0 45%;
}
.title{
    padding-top: 170px;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

.job_client{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ababab;
    margin: 0 45%;
}

.quote_allen{
    text-align: center;
    width: 80%;
    margin: 45px auto 0;
}

.dount{
    position: relative;
    margin: 0 46%;
    margin-top: 90px;
    padding-bottom: 160px;
}


.active_dount{
}

.over_dount{
    position: absolute;
    top: 6px;
    left: 25px;
    z-index: 1;
    z-index: 1;
}
.dount img{
    padding: 0 7px 0 0;
}






.menu_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 20px auto;
}

.a_footer{
    position: relative;
    color: #333;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all 1s ease-out;
}

.a_footer:hover{
    transition: all 2s ease-out;
    border: 2px solid  #1769ff;
    border-radius: 20px;
    background-color: #1769ff;
    color: #fff;
    padding: 0 20px;
}

input{
    max-height: 20px
}

footer button{
    max-height: 25px;
    border: none;
    background-color: #fff;
}

footer button:hover{
    transition: all 1s ease-out;
    border: 2px solid #1769ff;
    border-radius: 20px;
}

.icons{
    font-size: 20px;
    width: 40%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: space-between;
}

.fa-twitter{
    margin-right: 45px;
    padding: 15px 15px;
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 50%;
    transition: all 1s ease-out;
}

.fa-instagram{
    margin-right: 45px;
    padding: 15px 16px;
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 50%;
    transition: all 1s ease-out;
}

.fa-youtube{
    padding: 15px 14px;
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 50%; 
    transition: all 1s ease-out;
}

.fa-facebook-f{
    margin-right: 45px;
    padding: 15px 19px;
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 50%;
    transition: all 1s ease-out;
}

footer .content p{
    text-align: center;
}


.fa-twitter:hover:hover{
    padding: 15px 15px;
    border: 2px solid #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
    background-color: #1769ff;
    color: #fff;
    border-radius: 50%;
}

.fa-instagram:hover{
    padding: 15px 16px;
    border: 2px solid #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
    background-color: #1769ff;
    color: #fff;
    border-radius: 50%;
}

.fa-youtube:hover{
    padding: 15px 14px;
    border: 2px solid #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
    background-color: #1769ff;
    color: #fff;
    border-radius: 50%;   
}



.fa-facebook-f:hover{
    padding: 15px 19px;
    border: 2px solid #1769ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(25%, 41%, 88%);
    background-color: #1769ff;
    color: #fff;
    border-radius: 50%;
}

@media (max-width: 1450px){
    header{
        background: #F3F2F0;
    }
    
    .text_banner{
        margin-left: 0;
    }
    
    .job{
        width: 60%;
    }
    
    .job_discription{
        width: 50%;
    }
    
    .main_button{
        width: 60%;
    }    
}

@media (min-width: 1600px){
    .hello{
        font-size: 40px;
    }
    
    .main{
        display: none;
    }
    
    .service{
        font-size: 30px;
    }
    
    .icon_service{
        font-size: 60px;
        margin: 0 45%;
    }
    
    .service_discription{
        font-size: 25px;
    }
    
    .job{
        font-size: 52px;
    }
    
    .job_discription{
        color: #000;
        font-size: 25px;
        background-color: #F3F2F0; 
    }
    
    .main_button a{
        font-size: 30px;
        padding: 25px 50px;
    }
    
    .main_button{
        width: 80%;
    }
    
    .menu a{
        font-size: 25px;
    }
    
    .logo{
        font-size: 30px;
    }
    
    .third_banner{
        display: none;
    }
    
    .p_awesome{
        font-size: 52px;
    }
    
    .third_banner a{
        font-size: 40px;
    }
    
    .main_awesome{
        font-size: 40px;
    }
}


@media (max-width: 1300px){
    .menu{
        width: 65%;
    }
    
    .main{
        display: none;
    }
    
    .discription_awesome{
        width: 80%;
    }
    
}

@media (max-width: 992px){
    .logo{
        display: none;
    }
    
    .job{
        width: 70%;
    }
    
    .menu{
        width: 100%;
    }
    
    .cards{
        display: block;
    }
    
    .card{
        width: 100%;
    }
    
    .icon_service{
        margin: 0 46%;
    }
    
    .discription_awesome{
        width: 70%;
    }
    
    .third_banner{
        width: 30%;
    }
}


@media (max-width: 700px){
    .banner{
        display: none;
    }
    
    .second_banner{
        display: block;
    }
    .job{
        width: 90%;
    }
    
    .job_discription{
        width: 70%;
    }
    
    .icon_service{
        margin: 0 42%;
    }
    
    .discription_awesome{
        width: 70%;
    }
    
    .main_awesome{
        display: block;
    }
    
    .third_banner{
        width: 70%;
    }
}

@media (max-width: 590px){
    .second_banner{
        width: 50%;
    }
}

@media (max-width: 520px){
    .job{
        width: 100%;
    }
    
    .third_banner{
        width: 70%;
    }
    
    .discription_awesome{
        width: 100%;
    }
    
    .main_awesome{
        display: block;
    }
    

}



@media (max-width: 470px){
    .job{
        font-size: 36px;
        
    }
    
    .discription_awesome{
        width: 70%;
    }
    
    .main_awesome{
        display: block;
    }
    
    .third_banner{
        margin: 0;
        width: 70%;
    }
    
    .main_button{
        width: 100%;
    }
    
    .discription_awesome{
        width: 100%;
    }
    
    .a_menu{
        padding: 0 5px;
    }
}

@media (min-width: 1400px){
    .third_banner{
        width: 20%;
    }
}

@media (max-width: 1700px){
    
    .all_about{
        display: flex;
        justify-content: center;
    }
    
    .third_card{
        display: none;
    }
}

@media (max-width: 1000px){
    .second_card{
        display: none;
    }
}

@media (max-width: 500px){
    .about__img img{
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 1400px){
    .quote_slaider{
        width: 100%;
    }
    
    .title{
        margin: 0;
        font-size: 65px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider img{
        width: 184px;
        height: 184px;
        display: flex;
        justify-content: center;
    }
    
    .name_client{
        margin: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        margin: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 1400px;
    }
    
    .quote_allen{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 2000px){
    .quote_slaider{
        width: 100%;
    }
    
    .title{
        font-size: 65px;
        display: flex;
        justify-content: center;
    }
    
    .a_footer{
        font-size: 25px;
    }
    
    .icons{
        font-size: 25px;
    }
    
    .input{
        display: none;
    }
    
    .quote_slaider img{
        width: 184px;
        height: 184px;
        display: flex;
        justify-content: center;
    }
    
    .name_client{
        margin: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 2000px;
    }
    
    .quote_allen{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1800px){
    .quote_slaider{
        width: 100%;
    }
    
    .title{
        font-size: 65px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider img{
        width: 184px;
        height: 184px;
        display: flex;
        justify-content: center;
    }
    
    .name_client{
        margin: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        margin: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 1800px;
    }
    
    .quote_allen{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 2500px){
    .quote_slaider .content{
        width: 2500px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px){
    .quote_slaider{
        width: 100%;
    }
    
    .title{
        margin: 0;
        font-size: 65px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider img{
        width: 184px;
        height: 184px;
        display: flex;
        justify-content: center;
    }
    
    .name_client{
        margin: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        margin: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 1024px;
    }
    
    .quote_allen{
        margin: 0;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 1000px){
    .quote_slaider{
        width: 100%;
    }
    
    .input{
        display: none;
    }
    
    .menu_footer{
        width: 100%;
    }
    
    .title{
        margin: 0;
        font-size: 60px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider img{
        margin-left: 250px;
        width: 184px;
        height: 184px;
    }
    
    .name_client{
        margin: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        margin: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 700px;
    }
    
    .quote_allen{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .quote_slaider{
        width: 100%;
    }
    
    .title{
        margin: 0;
        font-size: 25px;
        font-weight: 600;
    }
    
    .quote_slaider img{
        margin-left: 20%;
        width: 184px;
        height: 184px;
        display: flex;
        justify-content: center;
    }
    
    .name_client{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 400px;
    }
    
    .quote_allen{
        margin: 0;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 400px){
    .quote_slaider{
        width: 100%;
    }
    
    .title{
        font-size: 25px;
        margin: 0;
    }
    
    .quote_slaider img{
        width: 92px;
        height: 92px;
        display: flex;
        justify-content: center;
    }
    
    .name_client{
        margin: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .job_client{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .quote_slaider .content{
        width: 300px;
    }
    
    .quote_allen{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    
    .a_footer{
        padding: 0;
    }
}

